@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
*{
    box-sizing: border-box;
}
body{
    text-transform:capitalize;
    font-family: 'DM Sans', sans-serif;
    color:#fff;
    padding:0;
    margin:0;
    h1{
        color:rgb(69,69,69);
        font-size:30px;
        margin-left:20px;
    }
}
main{
    padding:20px;
}
.onScroll{
    overflow:hidden;
}
.containerButton{
    display: flex;
    width: 100%;
    justify-content: center;
    button{
        border:none;
        background-color: transparent;
        padding: 0;
        margin-bottom: 50px;
        img{
            width:40px;
            height:40px
        }
        &:focus, &:active{
            outline:none;
            box-shadow:none;
        }
        &.off{
            display: none;
        }
        &.loading{
            pointer-events: none;
            img{
                animation: loading 1s linear infinite;
            }
        }
        @keyframes loading{
            to{
                transform: rotate(360deg);
            }
        }
    }
}
.sectionPokemonContainer{
    width:100%;
    height:155px;
    margin-bottom:20px;
    padding:0 15px;
    border-radius:20px;
    position:relative;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-image:url("images/pokeball.svg");
    background-repeat: no-repeat;
    background-position:right bottom;
    .sectionText{
        font-size:15px;
        line-height:119.5%;
        strong{
            display:block;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        div{
            display: block;
            min-width: 61px;
            width: fit-content;
            height: 28px;
            margin-bottom: 10px;
            background-color: rgba(255,255,255,0.25);
            border-radius: 100px;
            padding:7px 15px;
            text-align:center;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    .sectionImage{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 155px;
        p{
            position: absolute;
            top: 10px;
            right: 17px;
            font-size:15px;
            font-weight: 700;
            color:rgba(0,0,0,0.07);
            margin: 0;
        }
        img{
            width:166px;
            height:125px;
            object-fit: contain;
        }
    }
}
#modal{
    position: fixed;
    top:0;
    width:100%;
    height: 100vh;
    background-color:#fff;
    left: 100%;
    overFlow: scroll;
    transition: all 1s ease;
    .inactive{
        display: none;
    }
    .background{
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
        &::after{
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.05);
            background-image: url("images/pokeballModal.svg");
            background-repeat: no-repeat;
            background-position:top right;
            position: absolute;
            left: 0;
            top: 0;
        }
        #bgImage{
            width: 1005px;
            height: 1005px;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%,-50%);
            z-index: -1;
            filter: blur(50px);
        }
    }
    #back{
        width:35px;
        height:35px;
        position:absolute;
        left: 20px;
        top: 20px;
        display:flex;
        justify-content: center;
        align-items: center;
        cursor:pointer;
        border-radius:50%;
        border: 3px solid rgba(239, 239, 239, 1);
        background-color:#fff;
        img{
            width:20px;
            height:10px;
        }
    }  
    .charPokemon{
        width:100%;
        min-height:40vh; 
        margin-top: 60vh;   
        position: relative;
        border-radius: 20px 20px 0px 0px;
        background-color:#fff;
        transform: translateY(40vh);
        transition: all 0.8s ease 0.7s;
        .image{
            position:absolute;
            left: 50%;
            bottom: calc(100% - 40px);
            transform: translateX(-50%);
            display: flex;
            align-items: flex-end;
            #pokemonImg{
                width:320px;
                height:320px;
                object-fit: contain;
                object-position: center bottom;
                filter: blur(5px);
                transition: all 0.5s ease 0.7s;
            }
        }
        .status{
            color:#202020;
            line-height:23.9px;
            .name-id{
                padding-top:40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                #namePokemon{
                    font-size:40px;
                    line-height:47.8px;
                    margin:0;
                    text-transform:capitalize;
                }
                #idPokemon{
                    margin:0;
                    font-weight:500;
                    font-size:20px;
                }
            } 
            .char{
                padding: 0 20px;
                margin-top: 60px;
                display:flex;
                justify-content: space-between;
                flex-wrap: wrap;
                div{
                    margin-bottom:45px;
                }
                .abilities{
                    width:100%;
                    span{
                        margin-right:10px;
                    }
                }
            }
        }  
    }
    &.on{
        left: 0;
        .charPokemon{
            transform: translateY(0);
            .image{
                #pokemonImg{
                    filter: blur(0px);
                }
            }
        }
    }
}
    .titleChar{
        font-weight:500;
        font-size:20px;
        margin:0;
        line-height: 119.5%;
    }
    .charElement{
        display: inline-block;
        min-width: 61px;
        width: fit-content;
        height: 28px;
        margin: 10px 0;
        background-color: rgba(0,0,0,0.07);
        border-radius: 100px;
        padding:7px 15px;
        text-align:center;
        line-height: 100%;
        &:last-of-type{
            margin-bottom: 0;
        }
    }
@media screen and(min-width:768px){
    body{
        background-image: linear-gradient(180deg, #FFFFFF 0%, #EAEAEA 100%);
        min-height: 100vh;
    }
    .opacityOnCard{
        opacity:0.25;
        transition:all 0.5s ease;
    }
    .onScroll{
        overflow: auto;
    }
    .container{
        width: 1366px;
        margin: 0 auto;
        h1{
            margin-left: 40px;
        }
    }
    main{
        width:50%;
        display:flex;
        flex-wrap: wrap;
    }
    .sectionPokemonContainer{
        width: 232px;
        margin-left: 20px;
        .sectionText{
            max-width: 50%;
        }
        .sectionImage{
            max-width: 50%;
            img{
                width: 115px;
                height: 125px;
                max-width: 100%;
            }
        }
    }
    .containerButton{
        width:50%;
    }
    #modal{
        width: 720px;
        height: calc(100vh - 75px);
        top:30px;
        left: unset;
        right: calc((100vw - 1360px) / 2);
        border-radius:40px;
        box-shadow: 0 20px 60px rgba(0,0,0,0.2);
        overflow: hidden;
        .inactive{
            background-color: rgba(239,239,239,1);
            background-image: url("images/pokeballModalD.svg");
            background-repeat: no-repeat;
            background-position:right top;
            height:100%;
            text-transform: none;
            display:flex;
            flex-direction:column;
            align-items:center;
            overflow-x: hidden;
            transition: all 0.5s ease;
            span{
                width:471px;
                margin: 140px auto 60px;
                line-height:42px;
                color:#000;
                font-size:35px;
                text-align:center;
            }
            img{
                width: 65%;
                height: auto;
                position:absolute;
                bottom:0;
                right: 0;
            }
        }
        .active{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 100%;
            top: 0;
            z-index: 1;
            transition: all 0.5s ease;
        }
        .background{
            top: 0;
            left: 0;
            #bgImage{
                width:1163px;
                transform: translate(-17%, -17%);
            }
            &::after{
                background-size: 600px 580px;
            }
        }
        #back{
            width:55px;
            height:55px;
            top:unset;
            bottom: calc(100% - 338px - 40px - 55px);
            left:30px;
            opacity: 0;
            transition:all 0.5s ease;
            z-index: 1;
            img{
                width:30px;
                height:15px;
            }
        }
        .charPokemon{
            margin-top: 338px;
            min-height: calc(100% - 338px);
            .status{
                width:490px;
                margin:0 auto; 
                .name-id{
                    line-height: 119.5%;
                    #namePokemon{
                        font-size:50px;
                    }
                }
                .char{
                    margin-bottom:35px;
                    div .titleChar,span{
                        font-size:30px;
                        line-height: 119.5%;
                    }
                    div{
                        span{
                            min-width: 111px;
                            height:66px;
                            padding:15px 25px;
                        }
                    }
                }
            }
        }
        &.on{
            left: unset;
            right: calc((100vw - 1360px) / 2);
            overflow: auto;
            overflow-x: hidden;
            .active{
                display: block;
                height:100%;
                left: 0;
            }
            #back{
                opacity:1;
                transition-delay: 1.5s;
            }
            .inactive{
                opacity: 0;
            }
        }
    }
}

@media screen and (min-width: 1900px){
    #modal{
        .inactive{
            img{
                width:100%;
                height: 744px;
            }
        }
    }
}